.vin__accordion {

  &__item {
    border-bottom: 2px solid $e-grey;

    &:first-child {
      border-top: 2px solid $e-grey;
    }
  }

  &__title {
    padding: 25px 20px;
    font-size: $fs-18;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @include trans;

    @include max-screen($mq-m) {
      padding: 10px 15px;
      font-size: $fs-16;
    }

    span {
      padding-right: 5px;
      display: inline-block;
    }

    &.active {
      background: $e-dgrey;
      color: $p-vin-gold;

      .vin__accordion__icon {
        &::before {
          background: $p-vin-gold;
        }

        &::after {
          height: 0;
          margin-top: 0;
        }
      }
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    position: relative;

    &::before, &::after {
      content: '';
      display: inline-block;
      background: $e-white;
      position: absolute;
      top: 50%;
      left: 50%;
      @include trans;
    }

    &::before {
      height: 4px;
      width: 14px;
      margin-top: -2px;
      margin-left: -7px;
    }

    &::after {
      height: 14px;
      width: 4px;
      margin-top: -7px;
      margin-left: -2px;
    }
  }

  &__body {
    font-size: $fs-16;
    padding: 20px;
    display: none;

    @include max-screen($mq-m) {
      font-size: $fs-14;
      padding: 15px;
    }

    a {
      display: inline-block;
      font-weight: $fw-db;    
      color: $p-vin-gold;
      position: relative;

      &::after {
        content: '';
        width: 0;
        position: absolute;
        bottom: 0;
        height: 1px;
        background: $p-vin-gold;
        left: auto;
        right: 0;
        @include trans;
      }
      
      @include min-screen($mq-min-m) {
        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
        }        
      }
    }
  }
}
