.b-card {
  color: $e-black;
  background-color: $e-white;
  display: flex;
  flex: 1;
  flex-direction: column;

  &__top {
    position: relative;
  }

  &__tag {
    position: absolute;
    font-size: $fs-24;
    color: $e-white;
    top: 50px;

    span {
      background-color: rgba(109,0,21,.8);
      display: inline-block;
      padding: 6px 40px;
      
      @include max-screen($mq-m) {
        padding-left: 20px;
      }
    }
  }

  &__img {    
    padding-bottom: 72.832%;

    @include max-screen($mq-m) {
      padding-bottom: 69.701%;
    }
  }

  &__bottom {
    padding: 20px 25px 30px;
    flex: 1 0 auto;
    display: flex;
    align-items: stretch;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    line-height: 1;
    font-size: $fs-24;
  }

  &__blurb {
    margin-bottom: 15px;

    p {
      line-height: 1.2;      
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

    a {
      font-size: $fs-16;
      font-weight: $fw-b;
    }
  }

  &--featured {
    @include min-screen($mq-min-m) {
      .b-card__link a {
        width: 200px;
      }

      .b-card__blurb {
        margin-bottom: 0;

        p {
          max-width: 90%;
        }
      } 

      .b-card__tag {
        top: 65px;
      }

      .b-card__bottom {
        padding-bottom: 20px;
      }
      
      .b-card__img {
        padding-bottom: 52.271%;
      }
    }
  }
}