.vin__breadcrumb {

  a {
    display: flex;
    align-items: center;
    text-transform: uppercase;    
    font-weight: $fw-db;
    color: $p-vin-gold;
    font-size: $fs-12;

    svg {
      width: 6px;
      height: 13px;
      margin-right: 20px;
    }

    @include min-screen($mq-min-m) {
      &:hover {
        color: $e-white;

        svg {
          fill: $e-white;
        }
      }
    }
  }
}

.bcrumb {
  &__link {
    padding: 25px 0 20px;
    border-bottom: 1px solid $p-vin-gold;

    @include max-screen($mq-m) {
      padding-top: 20px;
    }

    a {
      display: inline-block;

      @include min-screen($mq-min-m) {
        &:hover {
          color: $p-vin-gold;
        }
      }
    }
  }
}
