.vin {
  &__btn {
    border: 1px solid $e-white;
    text-transform: uppercase;
    color: $e-white;
    text-align: center;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-h4;    
    @include trans;

    @include min-screen($mq-min-m) {
      &:focus {
        outline: 1px dotted #212121;
        outline: 5px auto -webkit-focus-ring-color;
      }
    }

    &::before, &::after {
      content: '';
      flex: 1 0 auto;
      position: absolute;
    }

    &--white {
      border-color: $e-white;

      @include min-screen($mq-min-m) {
        &:hover {
          border-color: $p-vin-gold;
          color: $p-vin-gold;

          svg {
            fill: $p-vin-gold;
          }
        }        
      }
    }

    &--red {
      background: $p-vin-red;
      border-color: $p-vin-red;

      @include min-screen($mq-min-m) {
        &:hover {
          background: $p-vin-gold;
          border-color: $p-vin-gold;

          svg {
            fill: $p-vin-gold;
          }
        }        
      }
    }

    &--gold {
      border-color: $p-vin-gold;
      color: $p-vin-gold;

      @include min-screen($mq-min-m) {
        &:hover {
          background: $p-vin-gold;
          color: $e-white;
        }        
      }
    }

    &--gold--alt {      
      color: $e-white;
      background-color: $p-vin-gold;
      border-color: $p-vin-gold;

      @include min-screen($mq-min-m) {
        &:hover {
          background-color: transparent;
          color: $p-vin-gold; 
        }        
      }
    }

    &--small {
      width: 94px;
      height: 24px;
      color: $e-grey;
      border-color: $e-grey;
    }

    &--medium {
      width: 120px;
    }

    &--big {
      font-size: 16px;
      width: 160px;
      height: 45px;
    }
  }
}

.vin__load {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  font-weight: $fw-db;

  @include min-screen($mq-min-m) {
    height: 85px;

    &:hover {
      background-color: $p-vin-gold;
    }
  }
}
