.vin__checkbox {
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;

    &:focus {
      + label::before {
        outline: 1px dotted #212121;
        outline: 5px auto -webkit-focus-ring-color;
      }
    }

    &:checked + label::after {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  label {
    font-size: $fs-16;
    padding-left: 27px;
    position: relative;
    line-height: 1;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      height: 17px;
      width: 17px;
      border: 1px solid $p-vin-gold;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 17px;
      width: 17px;
      top: 0;
      left: 0;
      background-image: url('../images/icon-check--gold.svg');
      background-position: center center;
      background-size: 12px;
      background-repeat: no-repeat;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      @include trans;      
    }

    span {
      display: inline-block;
    }
  }

  &.checked {
    label::after {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}