input,
button, textarea {
  color: $e-white;
  border: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  font-family: $ff-ad;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

button {
  cursor: pointer;
}

select {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

input[type='submit'] {
  cursor: pointer;
}

// input Text Placeholder
::-webkit-input-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  opacity: 1;
}
