.vin__hamburger {
  span {
    display: block;
    width: 21px;
    height: 3px;
    background: #aaaaaa;
    margin-bottom: 0;
    border-radius: 1.5px;
    @include trans;

    &:nth-child(2) {
      margin: 4px 0;
    }
  }

  &::before {
    content: '';
    display: block;
    height: 55px;
    background: $p-grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 330px;
    transform: translateX(-100%);
    @include trans;
  }

  &.active {
    position: fixed;
    
    &::before {
      transform: translateX(0);
    }

    span {
      &:first-child {
        transform: translateY(10px) rotate(-45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
        opacity: 0;
      }

      &:last-child {
        transform: translateY(-4px) rotate(-135deg);
      }
    }
  }
}