.vin__pagination {
  color: $p-vin-gold;
  font-weight: $fw-db;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin: 0 8px;

    a {
      opacity: 0.8;
    }

    &.active {
      font-size: $fs-16;
      
      a {             
        opacity: 1;
      }
    }
  }

  a {
    color: $p-vin-gold;
  }

  &__arrow {
    margin: 0 27px;
    position: relative;
    top: 1px;

    svg {
      width: 16px;
      position: relative;
      transform: rotate(90deg);
    }

    &--next {

      svg {
        transform: rotate(-90deg);
      }      
    }
  }  
}