.vin__range {
  margin-top: 20px;

  .slider-horizontal {
    width: 100%;
    height: 20px;

    .slider-track {
      height: 2px;
      margin-top: -1px;
      background-color: #79797A;
    }

    @include min-screen($mq-min-m) {      
      height: 12px;
    }
  }

  .slider-handle {
    height: 20px;
    width: 20px;
    margin-left: -10px;  
    border-color: #95989a;
    background-color: $p-vin-gold;

    @include min-screen($mq-min-m) {
      width: 12px;
      height: 12px;
      margin-left: -6px;

      &:hover {
        background-color: #95989a;
        border-color: #95989a;
      }
    }

    
  }

  .slider-selection {
    height: 2px;
    margin-top: -1px;   
  }

  .tooltip {
    font-size: 10px;

    &.top {
      top: calc(-100% - 5px);

      .tooltip-arrow {
        border-top-color: $p-vin-gold;
      }

      @include min-screen($mq-min-m) {
        top: calc(-100% - 20px);
      }
    }    

    &-inner {
      background-color: $p-vin-gold;
    }
  }
}