.vin__select {
  position: relative;

  &__toggle {
    border: 1px solid $e-white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;

    span {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: $fw-db;
      line-height: 1;
    }

    svg {
      width: 12px;
      height: 6px;
    }
  }

  &__dropdown {
    display: none;
    background: $e-white;    
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;

    li {
      display: block;      
      
      &:not(:last-child) {
        border-bottom: 1px solid $e-black;
      }
    }

    a {
      padding: 15px 10px;
      color: $e-black;
      text-transform: uppercase;
      font-size: 12px;

      &.active {
        background: $e-black;
        color: $e-white;
      }

      @include min-screen($mq-min-m) {
        &:hover {
          color: $e-white;
          background: $e-black;
        }
      }
    }
  }
}
