.vin__tab {

  &__qinfo, &__pane {
    &:not(.tabActive) {
      display: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid $p-vin-gold;

    @include max-screen($mq-m) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @include max-screen($mq-m) {
    &__info, &__nav {
      width: 100%;
    }
  }

  &__qinfo {
    font-weight: $fw-b;
    font-size: $fs-25;

    @include max-screen($mq-m) {
      font-size: $fs-20;
      padding-top: 40px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    @include min-screen($mq-min-m) {
      &:not(:first-child) {
        margin-left: 85px;
      }
    }    
  }

  &__link {
    font-size: $fs-12;
    font-weight: $fw-db;
    text-transform: uppercase;

    &.tabActive {
      color: $p-vin-gold;      
    }

    @include min-screen($mq-min-m) {
      font-size: $fs-16;

      &:hover {
        color: $p-vin-gold;
      }
    }
  }

  &__pane {
    padding-top: 60px;
  }
}
