.adv-search {
  overflow: hidden;

  &__wrapper {
    padding-top: 50px;
  }

  &__cwrap {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__load {
    margin-right: -50%;
    margin-left: -50%;
  }

  &__results{
    @include max-screen($mq-m) {
      &__info {
        order: 1;
      }
    }    
  }

  // Products
  &__pitems {
    @include max-screen($mq-m) {
      padding-bottom: 50px;
    }
  }

  &__pitem {
    margin-bottom: 60px;
    width: 100%;

    @include min-screen($mq-min-m) {
      width: 20%;
      margin-bottom: 90px;
    }    
  }
  
  &__pimg {

    > img {
      max-width: 140px;
      max-height: 240px;
    }

    @include max-screen($mq-m) {
      .comp-pro__shadow {
        bottom: -30px;

        img {
          max-width: 60%;
          margin: 0 auto;
        }
      }
    }
  }

  // downloads
  &__ditems {
    padding-bottom: 25px;

    @include min-screen($mq-min-m) {
      margin: 0 -80px;
      padding: 0 30px;
    }    
  }

  &__ditem {
    text-align: center;
    margin-bottom: 70px;
    width: 100%;

    @include min-screen($mq-min-m) {
      width: 20%; 
      margin-bottom: 60px;     
    }
  }

  &__dcontent {
    max-width: 115px;
    margin: 0 auto;
  }

  &__dlink {
    @include min-screen($mq-min-m) {
      &:hover {
        .adv-search__dicon {
          background-color: $p-vin-gold;

          svg {
            fill: $e-white;
          }
        }

        .adv-search__dtext {
          color: $p-vin-gold;
        }
      }
    }
  }

  &__dicon {
    background-color: $e-black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto 20px;
    @include trans;

    svg {
      width: 35px;
    }
  }

  &__dtext {
    @include trans;
  }

  // Content
  &__citems {
    @include min-screen($mq-min-m) {
      margin: 0 -50px;
    }
  }

  &__citem {
    margin-bottom: 80px;

    @include min-screen($mq-min-m) {
      width: 33.333333%;
      padding: 0 50px;    
      margin-bottom: 105px;
      display: flex;
    }
  }

  &__ccontent {
    display: flex;
    flex-direction: column;
  }

  &__cinfo {
    flex: 1;
    margin-bottom: 15px;
  }

  &__clink {
    margin-top: auto;
  }

  &__ctitle {
    font-size: $fs-25;
    margin-bottom: 10px;
  }

  &__cblurb {
    font-size: $fs-16;
  }

  &__clink {
    a {
      font-size: $fs-16;
      font-weight: $fw-b;
    }
  }
}
