.sec__expert{
  padding: 85px 15px 100px;

  &__wrapper {    
    max-width: 756px;
    margin: 0 auto;
  }

  &__form {

    &__wrapper {
      margin-top: 40px;
    }
  }

  &__wrap {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__group {
    padding: 0 12px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__input {
    border: 1px solid $e-white;
    padding: 13px 15px;
    margin-bottom: 24px;
    color: $e-white;
    width: 100%;

    @include placeholder {
      text-transform: uppercase;
      font-weight: $fw-db;
      color: $e-white;
      font-size: $fs-12;
    }

    &--textarea {
      flex-grow: 1;
      resize: none;
    }

    &:focus {
      border-color: $p-vin-gold;
    }
  }
  
  &__submit {
    padding: 0 12px;
    text-align: right;

    button {
      display: inline-block;
    }
  }
}