.sec__explore {
  padding: 35px 0 72px;

  @include max-screen($mq-m) {
    padding-top: 45px;
    padding-bottom: 0;
    background-color: $e-black;
  }

  &__title {
    margin-bottom: 40px;
    
    span {
      display: inline-block;
      padding-bottom: 15px;
      border-bottom: 1px solid $p-vin-red;
    }

    @include max-screen($mq-m) {
      font-size: 25px;
      margin-bottom: 25px;

      span {
        padding-bottom: 22px;
        border-width: 2px;
      }
    }
  }

  &__items {
    @include min-screen($mq-min-m) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      padding: 0 50px;
    }
  }

  &__item {
    @include min-screen($mq-min-m) {
      width: 50%;
      padding: 8px;
    }
  }

  &__content {
    position: relative;

    @include max-screen($mq-m) {
      cursor: pointer;
    }

    &::after {
      content: '';
      background: rgba(150,23,46,.7);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      @include hidden-trans;
    }

    &:hover {
      &::after {
        @include show-hidden-trans;
      }

      .sec__explore__link {
        opacity: 1;
        visibility: visible;
        overflow: visible;
        transform: translateX(-50%) translateY(75%);

        @include max-screen($mq-m) {
          transform: translateX(-50%) translateY(50%);
        }
      }
    }
  }

  &__img {
    min-height: 357px;

    @include max-screen($mq-m) {
      min-height: inherit;
      padding-bottom: 58.67%;
    }

    @include max-screen(374px) {
      padding-bottom: 0;
      min-height: 220px;
    }
  }

  &__info {
    z-index: 1;
    background: rgba(0, 0, 0, .730);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 25px 0 20px;

    @include max-screen($mq-m) {
      height: 50px;
      padding: 0 15px;

      h3 {
        font-size: 16px;
      }
    }
  }

  &__bottles {
    display: flex;
    align-items: center;

    img {
      width: 30px;

      @include max-screen($mq-m) {
        width: 20px;
      }
    }

    span {
      display: inline-block;
      margin-right: 10px;

      @include min-screen($mq-min-m) {
        font-size: $fs-16;
        margin-right: 25px;
      }
    }
  }

  &__link {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: calc(50% - 75px);
    transform: translateX(-50%) translateY(150%);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    z-index: 1;

    @include max-screen($mq-m) {
      top: calc(50% - 50px);
    }
  }
}