.sec__inspired {
  padding: 50px 15px;

  @include max-screen($mq-m) {
    background-image: none !important;
    background-color: #5a5a5a;
    padding: 30px 15px 20px;
  }

  &__items {
    @include min-screen($mq-min-m) {
      display: flex;
      justify-content: center;
    }    
    margin-top: 40px;
  }

  &__item {
    @include min-screen($mq-min-m) {
      width: 210px;
      margin: 0 45px;
    }

    @include max-screen(420px) {
      max-width: 240px;
    }

    @include max-screen($mq-m) {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      text-align: left;
      max-width: 360px;
      margin: 0 auto;
      padding: 15px 0;
      position: relative;

      &:nth-child(2) {
        &::before, &::after {
          content: '';
          width: 98px;
          position: absolute;
          height: 1px;
          border-bottom: 1px dotted $p-vin-gold;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }

    img {
      width: 88px;
      margin: 0 auto;
    }

    svg {
      width: calc(100% - 80px);
      margin: 15px auto 7px;
      height: 10px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: $fw-db;
    margin-bottom: 10px;

    @include max-screen($mq-m) {
      margin-bottom: 5px;
    }
  }

  &__blurb {
    @include max-screen($mq-m) {
      color: $e-grey;

      p {
        margin-bottom: 0;
      }
    }

    p {
      line-height: 1.2;
    }
  }

  @include max-screen($mq-m) {
    &__top {
      padding: 5px;
      display: flex;
      align-items: center;

      svg {
        display: none;
      }
    }

    &__bottom {
      padding-left: 5px;
      width: calc(100% - 98px);
    }
  }
}