.sec__join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 15px 140px 15px;

  &__title {
    line-height: 1;
    max-width: 225px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid $p-vin-red;
    margin-bottom: 15px;
  }

  &__desc {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;

    p {
      font-size: $fs-16;
      line-height: 1.85;
    }
  }

  &__btns {
    margin-top: 20px;

    a {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  @include max-screen($mq-m) {
    padding: 50px 35px 55px 35px;

    &__title {
      max-width: 195px;
      margin-bottom: 20px;
    }

    &__btn {
      margin-top: 5px;
    }
  }
}