.sec__store {
  &__search {
    background-color: $e-black; 
    padding: 40px 15px;
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    &__wrapper {
      position: relative;
    }
  }

  &__input {
    flex: 1 0 auto;
    padding: 15px 10px;
    font-size: $fs-16;
    font-weight: $fw-db;
    border: 2px solid $p-dgrey;    

    &:focus {
      border-color: $p-vin-gold;
      color: $p-vin-gold;
    }

    @include placeholder {
      color: $e-white;
    }
  }

  &__button {
    padding: 10px 15px;    

    svg {
      width: 25px;
      height: 25px;
    }

    @include min-screen($mq-min-m) {
      @include trans;

      &:hover {
        background: $p-vin-gold;
      }
    }
  }
}