.sec {
  &__result {
    &__wrapper {      
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

      @include min-screen($mq-min-m) {
        height: 550px;
      }
    }

    &__map {
      width: 65%;
    }

    &__list {      
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      @include min-screen($mq-min-m) {
        width: 35%;
      }
    }
  }
}

.result {
  &__title {
    font-size: $fs-28;
    font-weight: $fw-r;
    padding: 25px 35px;
    border-bottom: 1px solid rgba(213, 209, 203, 0.45);
    text-transform: uppercase;

    &.no-locations {
      color: $e-lgrey;
    }

    @include max-screen($mq-m) {
      text-align: center;
    }
  }

  &__list {    
    &__wrapper {
      flex: 1;
      position: relative;
      width: 100%;
    }

    &__items {
      width: 100%;
      height: auto;
    }

    &__item {
      display: block;
      padding: 35px;    
      @include min-screen($mq-min-m) {
        font-size: $fs-16;  
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(213, 209, 203, 0.45);
      }
    }

    &__name {
      text-transform: uppercase;
      font-weight: $fw-db;
    }

    &__address {
      margin-bottom: 15px;
    }

    &__contact {
      span {
        font-weight: $fw-db;
      }
      
      a {
        display: inline-block;
        margin-left: 5px;
        color: $p-vin-gold;
        position: relative;

        &::after {
          content: '';
          width: 0;
          position: absolute;
          bottom: 0;
          height: 1px;
          background: $p-vin-gold;
          left: auto;
          right: 0;
          @include trans;
        }

        @include min-screen($mq-min-m) {
          &:hover {
            &::after {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }
}
