.sec__buy {
  padding-top: 40px;
  &__wrapper {
    margin-top: 35px;
  }
  @include min-screen($mq-min-m) {
    &__wrapper {
      max-height: 415px;
      overflow: hidden;
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
    }
    &__map {
      width: 65.686%;
    }
    &__info {
      width: 34.314%;
    }
  }
  &__map {
    img {
      width: 100%;
    }
  }
  &__info {
    padding-left: 45px;
    @include max-screen($mq-m) {
      padding: 15px 15px 0;
    }
  }
  &__input {
    border-bottom: 2px solid #949799;
    width: 100%;
    padding-bottom: 20px;
    @include max-screen($mq-m) {
      padding-top: 20px;
      text-align: center;
    }
    @include placeholder {
      text-transform: uppercase;
      font-weight: $fw-db;
      font-size: $fs-12;
      color: $e-white;
    }
    &:focus {
      border-color: $p-vin-gold;
      color: $p-vin-gold;
    }
  }
  &__item {
    display: flex;
    padding-top: 30px;
    &:last-child {
      padding-bottom: 23px;
    }
    @include max-screen($mq-m) {
      padding-top: 20px;
      padding-left: 30px;
    }
  }
  &__num {
    padding-right: 25px;
    font-size: $fs-12;
    margin-top: 2px;
    @include max-screen($mq-m) {
      padding-right: 15px;
    }
  }
  &__address {
    div:first-of-type {
      text-transform: uppercase;
    }
  }
}