.sec__hero {
  position: relative;  

  @include min-screen($mq-min-m) {
    display: flex;
  }
}

.sec__he {
  &__banner {
    width: 100%;
    height: 285px;    

    @include min-screen($mq-min-m) {
      height: inherit;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      transform: scaleX(-1);
    }
  }

  &__wrapper {
    @include min-screen($mq-min-m) {
      display: flex;
      justify-content: flex-end;
    }

    @include max-screen($mq-m) {
      padding: 0;
      margin-top: -115px;
    }
  }

  &__content {    
    @include min-screen($mq-min-m) {
      max-width: 460px;
      min-width: 460px;
      background: rgba(109, 0, 21, 0.8);
      padding: 55px 35px;
    }
  }

  &__title {
    line-height: 1;
    padding: 0 25px 58px;

    @include max-screen($mq-m) {
      background: rgba(109, 0, 21, 0.8);      
      text-align: center;
      height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      font-size: 25px;
      
      span {
        max-width: 330px;
      }      
    }
  }

  &__filter {
    @include max-screen($mq-m) {
      padding: 0 25px 10px;
      background-color: #951d30;
    }
  }

  &__form {
    label {
      font-size: $fs-16;
      display: block;
    }

    button {
      width: 130px;
      display: inline-block;
    }
  }

  &__group {
    padding: 0 25px;
    border-top: 1px solid $e-grey;

    &:nth-child(1) {
      padding-top: 40px;
      padding-bottom: 50px;
    }

    &:nth-child(2) {
      padding-top: 30px;
      padding-bottom: 35px;
    }

    &:nth-child(3) {
      text-align: right;
      padding-top: 30px;
    }

    @include max-screen($mq-m) {
      padding: 0;
      border-color: rgba(217,209,202,.45);

      &:nth-child(1) {
        padding-top: 20px;
        padding-bottom: 30px;
        border-top: 0;
      }

      &:nth-child(2) {
        padding-bottom: 25px;
        padding-top: 20px;
      }

      &:nth-child(3) {
        padding-top: 25px;
        text-align: center;
      }
    }
  }

  &__select {
    margin-top: 20px;
  }

  &__range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    span {
      font-size: $fs-16;
    }

    .slider {
      margin: 0 15px;
      flex: 1 0 auto;
    }

    @include max-screen($mq-m) {
      margin-top: 15px;

      span {        
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}