.hero__blog {
  position: relative;

  &__wrapper {    
    display: flex;
    align-items: stretch;    
    justify-content: flex-end;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content {
    min-height: 375px;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba(109,0,21,.8);
    max-width: 670px;

    @include min-screen($mq-min-m) {
      padding: 20px 80px;
      min-height: 500px;
      min-width: 670px;
    }
  }

  &__info {
    @include min-screen($mq-min-m) {
      margin-top: 45px;
      max-width: 310px;
    }
  }

  &__title {
    padding-bottom: 5px;
    border-bottom: 2px solid $p-vin-gold;
  }
}
