.hero__search {
  min-height: 575px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 25px;

  @include max-screen($mq-m) {
    min-height: 400px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    span {
      border-color: $p-vin-gold;
    }
  }

  &__input {
    padding: 15px 50px;
    font-size: $fs-25;
    border-bottom: 2px solid $e-white;
    width: 100%;
    text-align: center;

    @include max-screen($mq-m) {
      padding: 15px 30px;
      font-size: $fs-20;
    }

    @include placeholder {
      color: $e-white;
      font-size: $fs-20;
    }

    &:focus {
      border-color: $p-vin-gold;
    }

    &__wrapper {
      margin-top: 65px;
      margin-bottom: 45px;

      @include min-screen($mq-min-m){
        margin-top: 95px;
        min-width: 620px;
      }
    }

    &__wrap {
      display: flex;
      align-items: center;
      position: relative;
    }
  }

  &__btn {
    padding: 10px 0;
    position: absolute;
    right: 0;    

    svg {
      height: 30px;
      width: 30px;
    }

    @include min-screen($mq-min-m) {
      padding: 10px;

      &:hover {
        svg {
          fill: $e-white;
        }
      }
    }
  }
}
