.vin__hero {
  padding: 80px 15px 50px;

  @include max-screen($mq-m) {
    padding-bottom: 10px;
  }

  &__title {
    font-size: 50px;

    @include max-screen($mq-m) {
      font-size: 25px;
    }
  }

  &__blurb {
    margin-top: 35px;
    font-size: $fs-20;
    font-weight: $fw-l;

    @include max-screen($mq-m) {
      font-size: $fs-16;
    }
  }
}
