.hero-big {  
  background-position: center 75%;
}

.hero__pro {
  position: relative;
  
  &__wrapper {       
    display: flex;
    align-items: stretch;    
    justify-content: flex-end;

    @include max-screen($mq-m) {
      padding-top: 40.277777%;
    }
  }

  &__img {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    padding: 20px 65px 70px;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba(109,0,21,.8);
    max-width: 850px;

    @include min-screen($mq-min-t) {
      min-height: 645px;
      min-width: 850px;
    }

    @include max-screen($mq-m) {
      text-align: center;
      padding: 10px 15px 0;
    }
  }

  &__info {
    max-width: 400px;    
  }

  &__title {
    margin-bottom: 35px;

    @include max-screen($mq-m) {
      margin-bottom: 5px;
    }
  }

  &__qinfo {
    img {
      display: inline-block;
      width: 45px;
      margin-right: 10px;
      margin-top: 5px;
    }

    @include max-screen($mq-m) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $fs-14;

      img {
        width: 25px;
        margin-top: 0;
      }
    }
  }

  &__blurb {
    margin-top: 25px;

    p {
      line-height: 1.7;
    }

    @include max-screen($mq-m) {
      font-size: $fs-14;
      margin-top: 5px;

      p {
        line-height: 1.4;
        margin-bottom: 10px;
      }
    }
  }
}
