.vin__banner {
  padding-bottom: 65.337%;

  @include min-screen($mq-min-m) {
    min-height: 450px;
    padding: 0 15px 0;
  }

  @include max-screen(374px) {
    height: 245px;
    padding: 0;
  }
}
