.vin__connects {
  padding: 90px 15px 95px;
  
  @include max-screen($mq-m) {
    padding: 50px 30px 52px;

    h2 {
      margin-bottom: 22px;
      font-size: $fs-25;

      span {
        padding-bottom: 20px;
      }
    }
  }

  &__wrapper {
    max-width: 940px;
  }

  &__items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__item {
    padding: 15px;
    width: 33.3333%;

    div {      
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 100%;
      min-height: 145px;  
      max-height: 145px;         
    }

    a {
      background-color: $e-white;      
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      @include trans;

      @include min-screen($mq-min-m) {
        &:hover {
          background-color: $p-vin-gold;
        }
      } 
    }

    @include max-screen($mq-m) {
      width: 50%;
      padding: 8px;

      div {
        min-height: 70px;        

        a {
          padding: 5px 20px;
        }
      }
    }
  }

  &__sec {
    &:nth-child(2) {
      margin-top: 65px;
    }
  }
}