.vin__ask {
  padding: 90px 15px 95px;

  &__iframe {
    width: 100% !important;
    height: 270px;

    @include max-screen($mq-m) {
      height: 395px;
    }
  }

  @include max-screen($mq-m) {
    padding: 50px 30px 50px;

    h2 {
      span {
        padding-bottom: 15px;
      }
    }
  }

  h2 {
    margin-bottom: 40px;

    span {
      padding-bottom: 9px;
    }
  }

  &__wrapper {
    max-width: 810px;
  }
}
