.vin__gcontent {
  padding: 50px 0 40px;
  line-height: 1.6;

  @include min-screen($mq-min-m) {
    font-size: $fs-16;
    padding: 90px 0 80px;
  }

  &__body {
    margin-top: 30px;  
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: $fs-16;
    font-weight: $fw-db;
    margin: 20px 0 15px;

    @include min-screen($mq-min-m) {
      font-size: $fs-18;
      margin: 30px 0 20px;
    }
  }

  a {
    display: inline-block;
  }

  img {
    margin-bottom: 15px;
  }

  ul {
    margin-bottom: 20px;
    padding-left: 15px;

    @include min-screen($mq-min-m) {
      padding-left: 20px;
    }
  }

  li {
    display: block;    
    position: relative;
    margin-bottom: 5px;

    @include min-screen($mq-min-m) {
      font-size: $fs-16;

      &::before {
        top: 10px;
        left: -20px;
      }
    }

    &::before {
      content: '';
      height: 4px;
      width: 4px;
      background: $e-white;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      left: -15px;
    }
  }

  ul, p {
    a {
      display: inline-block;
      color: $p-vin-gold;
      position: relative;

      &::after {
        content: '';
        width: 0;
        position: absolute;
        bottom: 0;
        height: 1px;
        background: #d7ba8b;
        left: auto;
        right: 0;
        @include trans;
      }

      @include min-screen($mq-min-m) {
        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}