.vin__intro {
  padding: 90px 30px 135px;

  &__content {
    @include min-screen(890px) {
      max-width: 890px;
    }
  }

  &__blurb {
    color: $p-lgrey;
    margin-bottom: 25px;

    p {
      line-height: 1.85;
    }
  }

  @include max-screen($mq-m) {
    padding: 50px 30px 60px;
  }
}