.vin__gallery {
  padding: 100px 0 82px;

  @include max-screen($mq-m) {
    padding: 55px 0 54px;

    &__init {
      margin-top: 24px;
    }

    &__place {
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    position: relative;

    @include min-screen($mq-min-m) {
      padding: 0 50px;
    }    
  }

  &__place {
    margin-bottom: 42px;
  }

  &__init {
    max-width: 1016px;
    margin-top: 40px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;  
    
    @include min-screen($mq-min-m) {
      height: 508px;
    }    
  }

  &__main, &__sub {    
    display: flex;
    align-items: stretch;
    flex: 1; 
  }

  &__items {
    display: flex;    
    align-items: stretch;    
    flex-wrap: wrap;    
    width: 100%;

    &.twoRow {
      flex-direction: column;
    }
  }

  &__item {    
    padding: 8px;
    display: flex;
    align-items: stretch;
    width: 100%;

    @include max-screen($mq-m) {
      padding: 6px;
    }
  }

  &__img {    
    width: 100%;

    @include max-screen($mq-m) {
      padding-bottom: 100%;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
      left: 0;
      transform: translateY(-50%) rotate(-180deg);
    }

    &--next {
      right: 0;
    }

    svg {
      width: 22px;
      transition-duration: .1s;
    }

    @include min-screen($mq-min-m) {
      &:hover  {
        svg {
          fill: $p-vin-gold;
        }
      }
    }
  }

  &__sub {
    .vin__gallery__item {
      min-width: 50%;  
      flex: 1;
    }
  }
}
