.vin__testi {
  padding: 90px 0 70px;

  @include max-screen($mq-m) {
    padding: 50px 0 60px;

    .container {
      padding: 0;
    }

    &__item {
      padding: 0 4px;

      &.slick-current {
        .vin__testi__content {
          background-color: #282425;
        }
      }
    }

    &__content {
      background-color: #302E2F;
      padding: 22px 17px 30px;
    }

    &__btn {
      margin-top: 30px;
    }
  }

  &__wrapper {
    position: relative;
    
    @include min-screen($mq-min-m) {
      padding: 0 50px;
    }    
  }

  &__place {    
    font-size: $fs-16;
  }

  &__init {
    @include min-screen(910px) {      
      max-width: 910px;
      padding: 0 4px;
    }
  }

  &__text {
    p {
      line-height: 1.85;
    }
  }

  &__person {
    margin-top: 30px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    
    &--prev {
      left: 0;
      transform: translateY(-50%) rotate(-180deg);
    }

    &--next {
      right: 0;
    }

    svg {
      width: 22px;
      transition-duration: .1s;
    }

    @include min-screen($mq-min-m) {
      &:hover {
        svg {
          fill: $p-vin-gold;
        }
      }
    }
  }

  &__dots {
    margin-top: 40px;

    button {
      font-size: 0;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #716259;
      margin: 0 10px;
      vertical-align: middle;
      @include trans;

      // @include min-screen($mq-min-m) {
        &:hover {
          background-color: $p-vin-gold;
        }
      // }
    }

    .slick-active {
      button {
        background-color: $p-vin-red;
      }
    }
  }
}
