.vin__support {
  padding: 90px 0 35px;

  @include max-screen($mq-m) {
    padding: 50px 15px 15px;
  }

  &__content {
    @include max-screen($mq-m) {
      padding: 0 15px;
    }
  }

  &__info {
    line-height: 1.85;
    color: $p-lgrey;
    margin-bottom: 25px;
  }

  &__blocks {
    margin-top: 30px;

    @include min-screen($mq-min-m) {
      max-width: 1170px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 65px;
    }
  }

  &__block {
    width: 100%;
    margin-bottom: 30px;

    @include min-screen($mq-min-m) {
      width: 33.3333333%;
      padding: 15px;    
      display: flex;
      justify-content: center;  
      margin-bottom: 50px;
    }
  }
}

.s-block { 

  &__content {
    @include min-screen($mq-min-m) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {    
    text-transform: uppercase;
    font-weight: $fw-b;    
    margin-bottom: 15px;
    font-size: $fs-18;
    line-height: 1;

    @include min-screen($mq-min-m) {
      font-size: $fs-28;
      max-width: 70%;
      margin: 0 auto 15px;
    }
  }

  &__info {
    margin-top: auto;
  }

  &__blurb {
    color: $e-grey;
    margin-bottom: 20px; 

    @include min-screen($mq-min-m) {
      max-width: 65%;
      margin: 0 auto 30px;      
    }

    p {
      margin: 0;
    }
  }

  &__btn {
    @include min-screen($mq-min-m) {
      font-weight: $fw-b;
      font-size: $fs-16;
      height: 40px;
      width: 210px;
    }
  }
}
