.vin__projects {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    @include min-screen($mq-min-m) {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;

      &:nth-child(odd) {
        .vin__projects__img {
          order: 1;
        }
      }
    }
  }

  &__img, &__info {
    @include min-screen($mq-min-m) {
      width: 50%;
    }
  }

  &__img {
    min-height: 280px;

    @include screen(375px, $mq-m) {
      padding-bottom: 74.67%;
    }
  }

  &__info {
    text-align: center;
    padding: 97px 15px;

    @include max-screen($mq-m) {
      padding: 55px 31px 60px;

      h2 {
        font-size: $fs-20;
      }
    }
  }

  @include min-screen($mq-min-m) {
    &__content {
      max-width: 535px;
    }
  }

  h2 {
    span {
      padding-bottom: 15px;
    }
  }

  &__blurb {
    color: $p-lgrey;
    margin-bottom: 25px;

    p {
      line-height: 1.85;
    }
  }
}