.pro {

  &__filters {    

    .js-filtersToggled {
      @include min-screen($mq-min-m) {
        background-color: $p-vin-gold;
        border-color: $p-vin-gold;
    
        svg {
          transform: rotate(-180deg);
        }

        &:hover {
          color: $e-white;

          svg {
            fill: $e-white;
          }
        }
      }
    }    
  }
}

.p-filters {
  &__wrapper {
    @include min-screen($mq-min-m) {
      width: calc(100% - 40px);
    }
  }

  &__toggle {    
    padding-bottom: 15px;
    border-bottom: 1px solid $p-vin-gold;

    @include min-screen($mq-min-m) {
      padding-bottom: 10px;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__content {
    padding-top: 25px;
    padding-bottom: 50px;
    border-bottom: 1px solid $p-vin-gold;
    display: none;

    @include max-screen($mq-m) {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      border-bottom: none;
      position: fixed;      
      top: 55px;
      height: calc(100% - 55px);
      background-color: $e-black;
      z-index: 8;
      left: 0;
      padding-top: 15px;
      padding-bottom: 20px;
      opacity: 0;
      visibility: hidden;
      @include trans;
      
      &.js-openFilters {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__title {
    @include max-screen($mq-m) {    
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 50px);
      padding: 20px 0;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 1px solid $p-vin-gold;

      a {
        height: 26px;
        width: 26px;
        border: 1px solid $p-vin-gold;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $p-vin-gold;
      }
    }
  }

  &__btn {
    justify-content: space-between;
    padding: 0 15px;

    svg {
      width: 20px;
      position: relative;
    }

    @include max-screen($mq-m) {
      justify-content: center;
      font-size: $fs-12;
      width: 140px;
      height: 30px;

      svg {
        width: 13px;
        margin-left: 10px;
      }
    }
  }

  &__items {
    margin: 0 -25px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include max-screen($mq-m) {
      margin: 0;
      flex: 1;
      overflow: hidden;
      overflow-y: scroll;
      padding-bottom: 30px;
    }
  }

  &__item {
    padding: 0 35px;    
    position: relative;
    width: 100%;
    padding-top: 25px;

    @include min-screen($mq-min-m) {
      width: 20%;
      padding: 0 25px;
      padding-top: 20px;
      margin-bottom: 20px;      
    }

    h5 {
      text-transform: uppercase;
      font-weight: $fw-db;
      margin-bottom: 12px;
    }
  }

  &__border {
    position: absolute;
    top: 0;
    width: calc(100% - 50px);

    @include max-screen($mq-m) {
      display: none;
    }
  }

  &__group {

    &:not(:last-child) {
      margin-bottom: 10px;
    }    
  }

  &__rtext {
    display: flex;
    justify-content: space-between;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;

    @include max-screen($mq-m) {
      padding-top: 15px;
    }
  }

  &__button {        
    width: 90px;

    &:not(:first-child) {
      margin-left: 10px;
    }
    
    @include max-screen($mq-m) {
      width: 125px;

      &:last-child {
        border-color: $p-vin-gold;
        color: $p-vin-gold;
      }
    }
  }
}