.p-list {

  &__items {
    @include min-screen($mq-min-m) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }

  &__item {
    margin-bottom: 20px;

    @include min-screen($mq-min-m) {
      width: 33.333333%;
      padding: 0 20px;
    }

    &.selectedProduct {
      @include min-screen($mq-min-m) {
        .p-list__img__overlay {
          opacity: 1;
          visibility: visible;
        }

        .p-list__compbtn {
          transform: translateY(0);

          svg {
            opacity: 1;
            visibility: visible;
            position: static;
          }
        }
      }      
    }

    &.disable {
      .p-list__compbtn {
        color: #918F8D;
        border-color: #918F8D;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }

  &__img {

    img {
      margin: 0 auto;

      @include max-screen($mq-m) {
        max-height: 210px;
      }
    }

    &__wrap {
      max-width: 160px;
      margin: 0 auto;
      position: relative;
      padding: 5px;

      @include min-screen($mq-min-m) {
        &:hover {
          .p-list__img__overlay {
            opacity: 1;
            visibility: visible;
          }

          .p-list__compbtn {
            transform: translateY(0);
          }
        }
      }
    }
    
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(67, 66, 68, 0.8);
      opacity: 0;
      visibility: hidden;
      @include trans;
    }
  }

  &__compbtn {
    width: 94px;
    height: 24px;
    color: $e-grey;
    border-color: $e-grey;        
    padding: 5px;
    position: relative;
    transform: translateY(5px);

    @include max-screen($mq-m) {
      svg {
        .b {
          fill: $p-vin-gold;
        }        
      }
    }

    svg {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 15px;
      height: 13px;
      @include trans;
    }

    span {
      display: inline-block;          
    }

    &.selected {
      justify-content: space-between;

      svg {
        opacity: 1;
        visibility: visible;
        position: relative;
      }
    }

    @include min-screen($mq-min-m) {
      &:hover {
        svg {
          .b {
            fill: $p-vin-gold;
            @include trans;
          }
        }
      }
    }    
  }

  &__qinfo, &__blurb {
    text-align: center;    
  }

  &__qinfo {
    margin-top: 20px;
    margin-bottom: 15px;

    @include max-screen($mq-m) {
      margin-top: 5px;
      margin-bottom: 10px;

      svg {
        width: 210px;

        line {
          stroke-dasharray: 1, 4;
        }
      }
    }

    svg {
      height: 10px;
      width: calc(100% - 70px);
      margin: 0 auto;
    }
  }

  &__code {
    font-size: $fs-16;
    text-transform: uppercase;

    @include max-screen($mq-m) {
      display: none;
    }
  }
  
  &__summary {
    font-size: $fs-16;
    font-weight: $fw-db;

    @include max-screen($mq-m) {
      font-size: $fs-18;
    }
  }

  &__blurb {
    max-width: 260px;
    margin: 0 auto;

    @include max-screen($mq-m) {
      display: none;
    }
  }

  &__controls {
    margin-top: 35px;
  }

  &__btnmore {
    @include max-screen($mq-m) {
      width: 100%;

      span {
        display: inline-block;
        margin-right: 25px;
      }

      svg {
        width: 16px;
      }
    }
  }

  &__qsum {
    background: #4d4d4f;
    padding: 10px 10px 10px 45px;
    margin-top: 20px;

    @include max-screen($mq-m) {
      padding: 15px 0 10px;
      margin-top: 0;

      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;

        a {
          width: 125px;
          height: 30px;
          margin: 0 7.5px;

          &.p-list__compbtn {
            border-color: $p-vin-gold;
            color: $p-vin-gold;
            transform: none;
            justify-content: space-around;
          }
        }
      }
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include max-screen($mq-m) {
        flex-direction: column;
      }
    }

    &__info {
      @include max-screen($mq-m) {
        display: none;
      }

      h6 {
        font-size: 12px;
      }
    }

    a {
      width: 94px;
      height: 24px;
      color: $e-grey;
      border-color: $e-grey;        
      padding: 5px;
    }
  }
}

.pro-alt {

  &__items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__item {    
    display: flex;
    flex-direction: column;    
  }

  &__img  {
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    position: relative;

    > img {
      position: relative;
      z-index: 2;
      max-width: 140px;
      max-height: 240px;
      margin: 0 auto;

      @include max-screen($mq-m) {
        max-height: 150px;
      }
    }
  }

  &__title {
    text-align: center;
    font-size: $fs-16;
    margin: 30px 15px 15px;

    @include max-screen($mq-m) {
      max-width: 220px;
      margin: 30px auto 15px;
    }

    a {
      @include min-screen($mq-min-m) {
        &:hover {
          color: $p-vin-gold;
        }
      }
    }
  }
}
