.h__search {
  &__icon {
    svg {
      width: 25px;

      @include min-screen($mq-min-m) {
        &:hover {        
          fill: $p-vin-gold;        
        }
      }

      @include max-screen($mq-m) {
        width: 20px;
        fill:#cccccc;
      }
    }    
  }

  &__content {    
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;    
    @include trans;
    z-index: 9;

    @include min-screen($mq-min-m) {
      position: absolute;
      width: 50%;
      background: rgba(67, 66, 68, 0.95);
    }

    @include max-screen($mq-m) {
      padding: 0 !important;
    }
  }

  &__heading {
    height: 75px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max-screen($mq-m) {
      background: $e-white;
      padding: 0 10px;
      height: 55px;
    }
  }

  input {
    flex: 1 0 auto;
    padding-right: 10px;
    color: $p-vin-gold;
    font-size: $fs-14;
    
    @include placeholder {
      color: $p-vin-gold;
    }

    @include min-screen($mq-min-m) {
      caret-color: $e-white;
      padding-left: 40px;
    }

    @include max-screen($mq-m) {
      color: $p-grey;
      @include placeholder {
        color: $p-grey;
      }
    }
  }

  &__link {
    height: 40px;
    width: inherit;
    padding: 10px;
    line-height: 1.5;

    @include max-screen($mq-m) {
      padding: 7px 10px;
      color: #cccccc;
      border-color: #cccccc;
      height: 32px;
    }
  }

  &__results {
    padding: 10px 0;
    padding-left: 35px;
    min-height: 400px;

    @include max-screen($mq-m) {
      background: rgba(255, 255, 255, 0.95);
      padding: 10px 15px;
      height: calc(100vh - 115px);
      overflow-y: scroll;
    }

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background: #fff;
      position: absolute;
      left: 0;
      top: 75px;

      @include max-screen($mq-m) {
        top: 60px;
        background: $e-grey;
      }
    }

    li {
      display: block;
      padding: 10px 40px;
      border-bottom: 1px solid #666666;

      a {
        color: $p-vin-gold;
        font-size: $fs-14;

        b {
          font-weight: $fw-db;
        }
      }

      @include max-screen($mq-m) {
        border-color: $e-grey;

        a {
          color: $p-grey;
        }
      }
    }
  }

  @include max-screen($mq-m) {
    &__icon {
      position: fixed;
      z-index: 9;
      top: 17px;
      right: 10px;
    }
  } 
}

@include max-screen($mq-m) {
  .h__where__link {
    position: fixed;
    z-index: 9;
    top: 16px;
    right: 40px;

    svg {
      width: 22px;
    }
  }
}
