.h__top {
  background: $p-grey;
  padding: 16px 0;

  nav {
    display: flex;
    justify-content: flex-end;

    > ul {
      display: flex;
      align-items: center;

      > li {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        line-height: 1;
        
        &:last-child {
          padding-right: 0;
        }

        &:first-child {
          svg {
            margin-right: 3px;
            height: 13px;
            width: 13px;
          }
        }
        
        &:not(:first-child) {
          border-left: 1px solid $e-white;
        }

        &.has-dropdown {
          svg {
            margin-left: 7px;
            width: 13px;
            height: 7px;
          }

          .h__top__nav__dropdown {
            position: absolute;
            background: #434244;
            left: 0;
            min-width: 100%;
            top: 100%;
            transform: translateY(5px);
            z-index: 1;
            @include trans;
            @include hidden--animate;

            ul {
              padding: 10px 20px;
              white-space: nowrap;

              li {
                display: block;
                margin: 10px 0;
              }
            }
          }

          @include min-screen($mq-min-m) {
            &:hover, &.hovered {
              .h__top__nav__dropdown {
                @include show-hidden--animate;
              }
            }
          }
        }
      }
    }

    a {
      color: $e-white;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include adrianna-demi;
      @include font-tiny;
      @include trans;

      svg {
        width: 13px;
        @include trans;
      }

      @include min-screen($mq-m) {
        &:hover {
          color: $p-vin-gold;

          svg {
            fill: $p-vin-gold;
          }
        }
      }
    }
  }
}