.h__main {
  @include min-screen($mq-min-m) {
    background: $e-black;
    position: relative;
  }

  &__wrapper {
    @include max-screen($mq-m) {
      padding: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @include min-screen($mq-min-m) {
      height: 75px;
    }

    @include max-screen($mq-m) {
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 55px;
    }
  }

  &__logo {
    img {
      width: 160px;

      @include max-screen($mq-m) {
        width: 110px;
      }
    }
  }

  &__pri {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: $e-black;
    width: 100%;

    @include min-screen($mq-min-m) {
      width: inherit;
      height: inherit;
      background-color: transparent;
      justify-content: space-between;
    }

    @include max-screen($mq-m) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }

  @include max-screen($mq-m) {
    &__hamburger {
      position: absolute;
      z-index: 9;
      left: 10px;
      top: 20px;
    }
  }

  &__nav {
    margin-right: 40px;
    @include trans;

    @include screen($mq-min-m, $mq-t) {
      margin-right: 30px;
    }

    @include max-screen($mq-m) {
      margin: 0;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      background: $p-grey;
      width: 330px;
      z-index: 8;
      padding: 55px 0;
      overflow-y: scroll;
      transform: translateX(-100%);

      &.openNav {
        transform: translateX(0);
      }
    }

    nav {
      > ul {
        > li {
          @include max-screen($mq-m) {
            display: block;
          }

          a {
            text-transform: uppercase; 
            @include font-h3;

            @include max-screen($mq-m) {
              text-transform: none;
              padding: 14px 45px;
              background: #302d2e;
            }
          }

          > a {
            text-transform: uppercase;

            @include max-screen($mq-m) {
              padding: 23px;                
              line-height: 1;
              background-color: transparent;
              text-transform: uppercase;
            }
          }
          

          @include min-screen($mq-min-m) {
            &:not(:first-child) {
              margin-left: 50px;

              @include screen($mq-min-m, $mq-t) {
                margin-left: 30px;
              }
            }

            &.has-dropdown {
              position: relative;

              &:nth-child(1) {
                .h__main__nav__dropdown {
                  padding: 70px;
                  width: 960px;
                }
              }

              &::after {
                content: "";
                display: block;
                width: 40px;
                background: #fff;
                position: absolute;
                left: 50%;
                top: 25px;
                transform: translateX(-50%) scale(0);
                @include hidden;
                height: 2px;
                @include trans;
              }

              &::before {
                content: "";
                display: block;
                height: 28px;
                width: 100%;
                top: 100%;
                position: absolute;
                display: none;
              }

              &:hover, &.hovered {
                &::after {
                  transform: translateX(-50%) scale(1);
                  @include show-hidden;
                  height: 2px;
                }
                &::before {
                  display: block;
                }

                .h__main__nav__dropdown {                  
                  @include show-hidden;
                  transform: translateX(-50%) scale(1);
                }
              }
            }
          }

          @include max-screen($mq-m) {
            &.has-dropdown {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;

              .toggleAccordion {
                height: 60px;
                display: flex;
                align-items: center;
                cursor: pointer;
              }

              svg {
                width: 20px;
                margin: 0 15px;
                position: relative;
                cursor: pointer;

                &.openDropdown {
                  transform: rotate(-180deg);
                }
              }

              > a {
                order: -1;
                flex: 1 0 auto;                
              }
            }
          }
        }
      }
    }

    &__dropdown {
      @include trans;
      z-index: 2;

      @include min-screen($mq-min-m) {
        position: absolute;
        background: rgba(67, 66, 68, 0.95);
        left: 50%;
        top: 47px;
        transform: translateX(-50%) scale(0);
        transform-origin: center top;
        @include hidden;
        height: auto;
        padding: 10px 20px;
        display: block !important;

        a:hover {
          color: $p-vin-gold;
        }

        &::before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 10px;
          border-color: transparent transparent $p-grey;
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -5px;
          @include trans;
        }
      }

      @include max-screen($mq-m) {
        width: 100%;
        display: none;
        transition: none;
      }

      li {
        display: block;
        white-space: nowrap;
        margin: 10px 0;

        @include max-screen($mq-m) {
          margin-top: 0;
          margin-bottom: 0;

          &:not(:last-child) {            
            margin-bottom: 3px;
          }
        }
      }

      &--products {
        @include min-screen($mq-min-m) {
          ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
          }

          li {
            text-align: center;
  
            &:last-child {
              img {
                width: 180px;
              }
            }
  
            a {
              span {
                padding-bottom: 7px;
                border-bottom: 1px solid $p-vin-red;
                margin-top: 20px;
                font-size: $fs-20;
                font-weight: $fw-db;
                line-height: 1;
                text-transform: none;
              }
  
              @include min-screen($mq-m) {
                &:hover {
                  color: $p-vin-gold;
                }
              }
            }
          }

          img {
            width: 52px;
            margin: 0 auto 25px;
          }
        }
        
        @include max-screen($mq-m) {
          img {
            display: none;
          }
        }
      }

      &__bottom {
        margin-top: 30px;

        span {
          color: $e-grey;
          @include adrianna-bold;
        }

        @include max-screen($mq-m) {
          display: none;
        }
      }
    }
  }

  &__buy {
    a {
      width: 140px;
    }
  }
}
