.compare {

  @include max-screen($mq-m) {
    padding-bottom: 40px;
  }

  @include max-screen(569px) {
    &__scrollindi {
      position: absolute;
      z-index: 2;
      right: -15px;
      display: block;

      &__wrapper {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: #2e2e2e;
        display: flex;
        align-items: center;
        font-size: $fs-18;
        padding: 12px;
        pointer-events: none;
      }
    }

    &__wrapper {
      overflow: hidden;
      overflow-x: scroll;
      margin-right: -15px;
    }    
  }

  &__products {
    padding-bottom: 85px;

    @include max-screen($mq-m) {
      padding-bottom: 15px;
    }

    @include max-screen(569px) {
      width: 520px;
    }
  }

  &__title {
    padding: 35px 0 45px;
  }
}

.comp-pro {

  &__images {

    .comp-pro__items {
      align-items: stretch;
    }

    .comp-pro__item {
      display: flex;
      flex-direction: column;
    }
  }

  &__items {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  &__item {
    flex: 1;
    text-align: center;
    padding: 0 80px;
    font-size: $fs-16;

    @include max-screen($mq-m) {
      width: 33.333333%;
      padding: 0 15px;
      font-size: $fs-14;
    }
  }

  &__images {
    margin-bottom: 45px;

    @include max-screen($mq-m) {
      margin-bottom: 30px;
    }
  }

  &__img {    
    padding: 5px;
    position: relative;
    flex: 1;
    display: flex;
    align-items: flex-end;

    > img {
      max-width: 200px;
      margin: 0 auto;
      max-height: 300px;
      position: relative;
      z-index: 1;

      @include max-screen($mq-m) {
        max-height: 150px;
      }
    }
  }

  &__shadow {
    position: absolute;
    bottom: -20px;
    z-index: 0;

    @include max-screen($mq-m) {
      bottom: -10px;

      img {
        max-width: 70%;
        margin: 0 auto;
      }
    }
  }

  &__title {
    max-width: 95%;
    margin: 30px auto 20px;
  }

  &__codes {    
    background: #282829;    
    text-transform: uppercase;

    &.js-stick {
      position: fixed;
      top: 0;

      @include max-screen($mq-m) {
        top: 55px;
      }

      @include max-screen(569px) {
        position: relative;
        top: 0;
      }
    }
  }

  &__code {
    h2 {
      font-size: 34px;
      font-weight: $fw-b;
      padding: 7px 0 11px;

      @include max-screen($mq-m) {
        font-size: $fs-20;
        padding: 11px 0;
      }
    }
  }

  &__features {
    @include max-screen(569px) {
      padding-top: 0 !important;
    }
  }

  &__feature {

    &__name {
      background-color: #363537;
      padding: 12px 25px;
      font-size: $fs-16;

      @include max-screen($mq-m) {
        padding: 7px 25px;
        font-size: $fs-14;
      }
    }

    &__item {
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      @include max-screen($mq-m) {
        padding-top: 5px;
        padding-bottom: 5px;
        min-height: 42px;
      }
    }
  }
}
