.vin__arrow {

  &--round {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid $p-vin-gold;
    @include trans;

    svg {
      position: relative;
      width: 7px;
      height: 12px;
    }

    &--next {
      svg {
        transform: rotate(-180deg);
      }
    }

    @include min-screen($mq-min-m) {
      &:hover {
        background-color: $p-vin-gold;
      }
    }
  }
}

.p-container {
  max-width: 1140px;
  margin: 0 auto;
}

.pro__detail {

  &__wrapper {
    padding: 55px 0 45px;

    @include max-screen($mq-m) {
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }

  &__content {
    margin-top: 60px;

    @include max-screen($mq-m) {
      margin-top: 30px;
    }
  }
}

.p-detail {

  &__title {
    display: inline-block;
    border-bottom: 4px dotted $p-vin-gold;

    @include max-screen($mq-m) {
      font-size: $fs-25;
      border-width: 2px;
    }
  }

  &__code {
    font-weight: $fw-db;
    font-size: 13px;
    margin-top: 5px;

    @include max-screen($mq-m) {
      margin: 20px 0;
    }
  }

  &__wrap {
    @include min-screen(1023px) {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      padding-bottom: 35px;
      border-bottom: 2px dotted $p-vin-gold;
    }
  }
  
  @include min-screen(1023px) {
    &__slider {
      order: 1;
      width: 56%;       
    }

    &__infos {
      width: 44%;
      padding-right: 20px;
    }
  }

  &__qinfos {
    display: flex;
    margin: 35px -15px 50px;

    @include max-screen($mq-m) {
      margin: 30px 0 15px;
      justify-content: center;
    }

    &__item {
      padding: 0 15px;
      display: flex;
      align-items: flex-end;

      @include max-screen($mq-m) {
        align-items: center;
      }

      &:first-child {
        img {
          max-width: 42px;
          margin-right: 15px;

          @include max-screen($mq-m) {
            max-width: 35px;
          }
        }

        span {
          font-size: $fs-28;
          font-weight: $fw-b;

          @include max-screen($mq-m) {
            font-size: $fs-16;
          }
        }
      }

      &:last-child {
        img {
          max-width: 34px;
          margin-right: 15px;

          @include max-screen($mq-m) {
            max-width: 28px;
          }
        }
      }
    }
  }
  
  &__sum {
    div {      
      font-size: $fs-12;
      font-weight: $fw-db;

      @include min-screen($mq-min-m) {
        text-transform: uppercase;
      }

      &:not(:last-child) {
        @include min-screen($mq-min-m) {
          margin-bottom: 5px;
        }
      }
    }    
  }

  &__blurb {
    @include min-screen($mq-min-m) {
      max-width: 89%;
    }
  }

  &__rating {
    margin-top: 20px;
  }

  &__dimensions {
    color: #949598;
    font-weight: $fw-l;
    margin: 50px 0 20px;

    @include max-screen($mq-m) {
      margin: 20px 0 22px;

      span {
        font-size: $fs-18;
      }
    }

    span {
      color: $e-grey;
      font-weight: $fw-b;
      font-size: $fs-20;
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;

    @include max-screen($mq-m) {
      justify-content: center;
    }

    a {
      width: 136px;
      height: 24px;
      margin-bottom: 10px;
      margin-right: 10px;

      @include max-screen($mq-m) {
        width: 125px;
        height: 30px;
        margin: 8px;    
        color: $e-grey;
        border-color: $e-grey;
      }

      &.vin__btn--red {
        border-color: $e-white;

        @include min-screen($mq-min-m) {
          &:hover {
            border-color: $p-vin-gold;
          }
        }
      }
    }
  }

  &__swrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__shwrap {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @include min-screen($mq-min-m) {
      width: 80%;
    }    
  }

  &__shinit {
    max-width: 210px;
    margin: 0 auto;

    .slick-track {
      display: flex;
      align-items: flex-end;
    }
  }

  &__shitem {
    padding: 0 5px;
    
    img {
      margin: 0 auto;
      @include max-screen($mq-m) {
        max-height: 300px;
      }  
    }
  }

  &__svwrap {
    width: 20%;
    padding-left: 30px;
    position: relative;

    .slick-track.noTranslate {
      transform: none !important;
    }
  }

  &__svitem {
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;

    @include min-screen($mq-min-m) {
      &:hover, &.slick-current {
        .p-detail__svimg {
          border-color: $p-vin-gold;
        }
      }
    }
  }

  &__svimg {
    width: 100%;    
    width: 85px;
    height: 85px;
    border: 1px solid #95989a;
    cursor: pointer;
  }
}

.p-svsec__arrow {
  position: absolute;
  left: 61px;
  z-index: 2;

  &--prev {
    top: -43px;
    transform: rotate(90deg);
  }

  &--next {
    transform: rotate(90deg);
  }
}

.pro__features {
  padding-top: 45px;
}

.p-features {
  padding-top: 45px;

  &__swrapper {
    margin-top: 30px;

    @include max-screen($mq-m) {
      margin-top: 60px;
    }
  }

  &__sinit {
    margin: 0 -10px;
  }

  &__sitem {
    padding: 0 10px;
  }

  &__swrap {
    @include min-screen($mq-min-m) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }    
  }

  &__simg {    
    border: 1px solid #949799;
    max-height: 355px;

    @include max-screen($mq-m) {
      padding-bottom: 64.615%;
      margin-bottom: 25px;
    }

    @include min-screen($mq-min-m) {
      width: 47.807%;
    }
  }

  &__scontent {

    @include min-screen($mq-min-m) {
      padding-left: 45px;
      width: 52.193%;
    }
  }

  &__sicon {
    max-width: 50px;
  }

  &__stitle {
    margin-top: 30px;

    @include max-screen($mq-m) {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: $fs-20;
    }
  }

  &__scontrols {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

    @include max-screen($mq-m) {
      margin-top: 15px;
    }
  }

  &__dots {
    margin: 0 8px;

    button {
      font-size: 0;
      height: 10px;
      width: 10px;
      border: 1px solid #95989a;
      border-radius: 50%;
      display: flex;
      margin: 0 8px;
      @include trans;

      @include min-screen($mq-min-m) {
        &:hover {
          border-color: $p-vin-gold;
          background-color: $p-vin-gold;
        }
      }
    }

    li.slick-active {
      button {
        background-color: $e-white;
      }
    }
  }


  &__points {
    margin-top: 40px;
    margin-bottom: 45px;
  }

  &__pitems {
    @include min-screen($mq-min-m) {
      margin: 0 -25px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__pitem {
    @include min-screen($mq-min-m) {
      width: 50%;
      padding: 0 25px;
    }    
  }

  &__pcontent {
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
    border-top: 1px dotted $p-vin-gold;

    img {
      max-width: 50px;
      margin-right: 25px;
    }

    span {
      font-size: $fs-28;
      font-weight: $fw-b;

      @include max-screen($mq-m) {
        font-size: $fs-20;
      }
    }
  }
}

.pro__specs {
  padding: 55px 0;

  @include max-screen($mq-m) {
    padding-bottom: 25px;
  }

  &__content {
    margin-top: 55px;

    @include max-screen($mq-m) {
      margin-top: 45px;
    }
  }
}

.p-specs {

  &__items {

    @include min-screen($mq-min-m) {
      margin: 0 -35px;
      display: flex;
      flex-wrap: wrap;   
    }    
  }  

  &__item {
    width: 100%;

    @include max-screen($mq-m) {
      &:first-child {
        .p-specs__content {
          border-top: 0;
        }
      }
    }

    @include min-screen($mq-min-m) {
      padding: 0 35px;
      width: 50%;

      &:nth-last-child(-n + 2) {
        .p-specs__content {
          border-bottom: 1px dotted $p-vin-gold;
        }
      }
    }

    h6 {
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;    
    padding: 11px 0 2px;
    border-top: 1px dotted $p-vin-gold;

    @include min-screen($mq-min-m) {
      font-size: $fs-16;
      padding: 11px 0;
    }
  }
}

.pro__downloads {
  padding: 20px 15px 40px;

  @include max-screen($mq-m) {
    padding-bottom: 20px;
  }

  &__items {
    margin-top: 35px;

    @include min-screen($mq-min-m) {
      margin-top: 55px;
      display: flex;
      justify-content: center;
    }
  }

  &__btn {
    margin: 0 auto 20px;
    width: 250px;
    height: 40px;
    border: 1px solid $e-white;
    font-size: $fs-14;

    @include min-screen($mq-min-m) {
      margin: 0 15px;

      &:hover {
        border-color: $p-vin-gold;
      }
    }
  }
}

.pro__reviews {
  padding: 40px 0;

  @include max-screen($mq-m) {
    padding-top: 20px;
    padding-bottom: 20px;
  }  
}

.pro__related {
  padding: 30px 0 70px;

  @include max-screen($mq-m) {
    padding: 20px 0 55px;
  }

  &__wrapper {
    margin-top: 70px;

    @include max-screen($mq-m) {
      margin-top: 30px;

      .p-list__item {
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 55px; 
        }        
      }
    }
  }
}
