.vin__pro {
  padding: 35px 0 95px;

  @include max-screen($mq-m) {
    padding: 15px 0 40px;
  }
}

.pro {

  &__wrapper {
    max-width: 1200px;
  }

  &__selected {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(77, 77, 79, 0.9);
    padding: 30px 0;
    position: fixed;
    left: 0;
    bottom: -1px;
    right: 0;
    z-index: 6;
    @include trans;

    @include max-screen($mq-m) {
      padding: 5px 0 25px;
    }

    &__wrapper {
      @include min-screen($mq-min-m) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.slideComparePanel {
      transform: translateY(100%);
    }    
  }

  &__list {
    .p-list__item {
      margin-top: 80px;

      @include max-screen($mq-m) {
        margin-top: 30px;

        &:not(:last-child) {
          margin-bottom: 50px
        }        
      }
    }
  }
}

.slideComparePanel {
  .p-selected__arrow svg {
    transform: rotate(180deg);
    transition: none;
  }
}

.p-selected {

  &__control {
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(77, 77, 79, 0.9);

    @include max-screen($mq-m) {
      left: 0;
      right: 0;
      transform: none;
    }
  }

  &__arrow {
    margin-right: 5px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    min-width: 100px;
    cursor: pointer;
    transition: none;
    text-transform: uppercase;
    font-weight: $fw-db;
    color: $p-vin-gold;

    @include max-screen($mq-m) {
      justify-content: center;
    }
  }

  &__arrow {
    svg {
      height: 8px;
      width: 15px;
      margin-right: 5px;
      position: relative;
    }
  }

  &__items {

    @include max-screen($mq-m) {
      overflow: hidden;
      overflow-x: scroll;
    }

    &__wrapper {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;

      @include max-screen($mq-m) {
        overflow: hidden;        
        padding-top: 12px;
        padding-left: 10px;
        padding-right: 10px;        
        width: 445px; 
      }
    }  
  }

  &__item {    
    padding: 0 20px;    
    
    @include min-screen($mq-min-m) {
      max-width: 350px;
      min-width: 300px;
    }

    @include max-screen($mq-m) {
      padding: 0;
      width: 120px;
      margin: 0 10px;
      display: flex;
      align-items: stretch;
    }
  }

  &__content {
    min-height: 100px;
    border: 1px solid $e-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background-color: rgba(77, 77, 79, 1);

    @include max-screen($mq-m) {
      padding: 5px 10px;
      display: flex;
      align-items: stretch;
    }
    
    .p-list__summary {
      font-size: $fs-14;
      font-weight: $fw-r;

      @include max-screen($mq-m) {
        font-size: $fs-12;
        font-weight: $fw-db;
        margin-top: 5px;
      }
    }

    &.productPresent {
      border-color: $p-vin-gold;
      position: relative;
    }
  }

  &__img {
    @include max-screen($mq-m) {
      max-width: 25px;
      margin: 0 auto;
    }    
  }

  &__remove {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d4d4f;
    border: 1px solid $p-vin-gold;
    font-size: 12px;
    color: $p-vin-gold;
    position: absolute;        
    top: -10px;
    right: -10px;

    @include min-screen($mq-min-m) {
      &:hover {
        background-color: $p-vin-gold;
        color: $e-white;
      }
    }

    @include max-screen($mq-m) {
      height: 24px;
      width: 24px;
      top: -12px;
      right: -12px;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    padding-left: 20px;

    @include max-screen($mq-m) {
      padding: 0;
      margin-top: 25px;

      button {
        width: 125px;
        height: 30px;
      }
    }

    button {
      &[disabled] {
        color: #918F8D;
        border-color: #918F8D;
        cursor: not-allowed;
      }
    }
  }

  &__info {
    text-align: center;
    max-width: 210px;
    margin: 0 auto;

    @include max-screen($mq-m) {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: flex-end;
    }

    svg {
      height: 10px;
      width: 100%;
      stroke-dasharray: 1, 5;
    }

    .p-list__code, .p-list__name {
      color: $e-grey;
      font-size: $fs-14;
    }

    .p-list__name {
      color: $e-white;
    }
  }
}

.vin__scrolltop {
  position: fixed;
  z-index: 7;
  right: 15px;
  bottom: 15px;
  transform: translateY(48px);
  @include trans;

  &.show {
    transform: translateY(0);
  }
  
  &__btn {
    background-color: $p-vin-gold;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include trans;

    svg {
      width: 22px;
      position: relative;
      transform: rotate(180deg);
    }

    @include min-screen($mq-min-m) {
      &:hover {
        background-color: $p-vin-red;

        svg {
          fill: $e-white;
        }
      }
    }
  }
}
