.vin__article {
  padding-top: 25px;

  @include max-screen($mq-m) {
    padding-top: 10px;
  }
}

.blog__article__wrapper {
  @include max-screen($mq-m) {
    padding: 25px 0;
  }
}

.art-main {

  &__content {
    padding: 35px 30px 15px;

    @include max-screen($mq-m) {
      padding: 35px 25px 5px;
    }
  }

  &__title {
    @include max-screen($mq-m) {
      font-size: $fs-24;

      span {
        display: block;
      }
    }
  }

  &__body {
    color: #58595b;

    @include max-screen($mq-m) {
      line-height: 1.3;

      p {
        line-height: 1.3;
      }
    }
  }

  &__img {
    margin: 20px 0;

    @include min-screen($mq-min-m) {
      &--float {
        max-width: 325px;
        margin: 30px;
  
        &--right {
          float: right;
        }
    
        &--left {
          float: left;
        }
      }
    }
  }

  &__footer {
    padding: 0 30px 45px;

    @include max-screen($mq-m) {
      padding: 0 25px 25px;
    }
  }

  &__category {
    a {
      display: inline-block;
      color: #eb0029;

      @include min-screen($mq-min-m) {
        &:hover {
          color: $p-vin-gold;
        }
      }
    }
  }

  &__date {
    color: #58595b;
  }
}

.art-side {
  flex-direction: column;

  &__item {
    @include min-screen($mq-min-m) {
      margin-bottom: 40px;
    }
  }

  .qsg__download {
    @include min-screen($mq-min-m) {
      min-height: 600px;
      display: flex;
      align-items: stretch;
    }    
  }

  .b-cat {
    min-height: 510px;
    display: flex;
    align-items: stretch;

    @include max-screen($mq-m) {
      display: none;
    }
  }
}
