.blog {

  &__wrapper {
    @include min-screen($mq-min-m) {
      padding: 0 35px;
    }
  }

  &__load {
    padding-top: 55px;

    @include max-screen($mq-m) {
      padding-top: 25px;
    }
  }

  &__list__wrapper {
    padding-top: 50px;

    @include max-screen($mq-m) {
      padding-top: 20px;
    }
  }

  &__dropdowns {
    padding: 30px 15px 5px;

    @include max-screen($mq-m) {
      padding: 20px 0 0;
    }

    &__link {
      display: flex;
      justify-content: flex-end;
      text-transform: uppercase; 
      font-weight: $fw-db;     

      span {
        display: inline-block;
        position: relative;
        transform: rotate(90deg);
        margin-left: 10px;
        @include trans;
      }
    }
  }
}

.b {
  &-dropdown {
    &__items {
      background: #282829;
      padding: 10px 0;
      border-top: 1px solid $e-white;
      display: none;
    }

    &__item {
      display: block;
      padding: 10px 15px 10px 30px;
    }

    &__main-link {
      background: #282829;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 65px;
      padding: 0 15px 0 30px;

      &.active {
        span {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &-wrap{
    @include min-screen($mq-min-m) {
      margin: 0 -20px;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }    
  }

  &-col {
    padding-bottom: 25px;

    @include min-screen($mq-min-m) {
      padding: 20px;
      display: flex; 

      &.b-cat {
        order: 3;
      }
    }
  }

  &-bottom__items {
    @include min-screen($mq-min-m) {
      .b-item {
        order: 4;

        &:nth-child(2) {
          order: 1;
        }
    
        &:nth-child(3) {
          order: 2;
        }
      }
    }
  }

  &-cat {
    @include max-screen($mq-m) {
      display: none;
    }

    &__content {
      background-color: #282829;
      flex: 1;
      padding: 0 35px 15px;      
    }

    &__title {
      padding: 15px 0 5px;
      border-bottom: 1px solid $p-vin-gold;
    }

    &__items {
      margin-top: 20px;
    }

    &__item {
      display: block;
      font-size: $fs-24;
      order: 4;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a {
        display: inline-block;
      }

      @include min-screen($mq-min-m) {
        a:hover {
          color: $p-vin-gold;
        }
      }
    }
  }
}

.qsg {

  &__download {
    a {
      @include min-screen($mq-min-m) {
        display: flex;
        flex: 1;
      }
    }
  }

  &__wrapper {
    padding-bottom: 63.339%;

    @include min-screen($mq-min-m) {
      display: flex;
      flex: 1;
    }
  }

  // &__content {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   flex: 1;
  //   padding: 45px;
  //   background: rgba(109,0,21,.8);

  //   img {
  //     max-width: 175px;
  //   }
  // }

  // &__info {
  //   flex-grow: 1;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;

  //   h2, h3 {
  //     line-height: 1;
  //     margin-bottom: 5px;
  //   }

  //   a {
  //     font-size: $fs-16;
  //     font-weight: $fw-b;
  //     width: 180px;
  //     margin-top: 20px;
  //   }
  // }
}
