.f {
  &__top {
    padding: 50px 0;

    @include max-screen($mq-m) {
      padding: 10px 0 15px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include max-screen($mq-m) {
      flex-direction: column;
    }
  }

  &__item {
    
    &--info {
      @include min-screen($mq-min-m) {
        width: 13%;
      }

      @include max-screen($mq-m) {
        margin-bottom: 15px;
        text-align: center;
      }
    }

    li {
      display: block;
    }

    h3 {
      text-transform: uppercase;
      margin-bottom: 30px;

      @include max-screen($mq-m) {
        margin-bottom: 15px;

        a {
          color: $e-white;
        }
      }
    }

    &--links {
      li {
        line-height: 1;

        @include min-screen($mq-min-m) {
          &:not(:last-child) {
            margin-bottom: 18px;
          }
        }

        @include max-screen($mq-m) {
          display: inline-block;
          width: 50%;
          margin-bottom: 15px;
        }
      }

      a {
        display: inline-block;
        color: $e-lgrey;

        @include min-screen($mq-min-m) {
          color: $e-white;

          &:hover {
            color: $p-vin-gold;
          }
        }
      }
    }
  }

  &__logo {
    max-width: 140px;
    margin-bottom: 20px;

    @include max-screen($mq-m) {
      max-width: 112px;
      margin: 0 auto 20px;
    }
  }

  &__info {
    color: $p-vin-gold;

    a {
      color: $p-vin-gold;
      font-size: $fs-18;
      font-weight: $fw-b;
      line-height: 1;
      display: inline-block;

      @include min-screen($mq-min-m) {
        &:hover {
          color: $p-vin-red;
        }
      }
    }

    span {
      font-size: $fs-11;
      display: block;

      &:first-of-type {
        font-weight: $fw-db;
        text-transform: uppercase;
      }

      i {
        font-style: normal
      }
    }
  }

  &__social {
    margin-top: 20px;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    a {      
      svg {
        width: 24px;
        height: 24px;

        @include min-screen($mq-min-m) {
          &:hover {
            fill: $p-vin-gold;
          }
        }

        @include max-screen($mq-m) {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  &__bottom {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      line-height: 1;
      margin: 0 15px;
    }

    a {
      font-size: $fs-11;
      font-weight: $fw-db;
      text-transform: uppercase;
      color: $e-lgrey;

      @include min-screen($mq-min-m) {
        &:hover {
          color: $p-vin-gold;
        }
      }
    }

    @include max-screen($mq-m) {
      height: 45px;
      
      li {
        margin: 0 5px;
      }      

      a {
        color: $e-white;
        font-size: 8px;
      }
    }
  }
}