.sec__for {
  padding: 40px 0 25px;

  @include max-screen($mq-m) {
    padding-top: 65px;
    padding-bottom: 40px;

    .container {
      padding: 0 20px;
    }

    &__bottom {
      padding: 0;
    }

    &__top {
      margin-bottom: 105px;
      padding: 0 10px;
    }

    &__desc {
      color: $p-lgrey;
    }
  }

  &__top {
    margin-bottom: 55px;
  }

  &__title {
    margin-bottom: 15px;

    span {
      display: inline-block;
      line-height: 1;
      padding-bottom: 20px;
      border-bottom: 2px solid $p-vin-red;
    }

    @include max-screen($mq-m) {
      font-size: 25px;
      margin-bottom: 20px;

      span {
        padding-bottom: 25px;
      }
    }
  }

  &__desc {
    p {
      line-height: 1.85;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    @include max-screen($mq-m) {
      justify-content: space-between;
    }
  }

  &__item {
    width: 43%;

    @include min-screen($mq-min-m) {
      width: 25%;      
    }

    @include max-screen($mq-m) {
      &:first-child {
        margin-bottom: 15px;
      }
    }

    img {
      margin: 0 auto;
      width: 80px;

      @include max-screen($mq-m) {
        width: 94px;
      }
    }
  }

  &__subtitle {
    text-transform: uppercase;
    margin: 20px 0 10px;

    @include max-screen($mq-m) {
      font-size: 13px;
      margin-top: 15px;
    }
  }

  &__summary {    
    margin: 0 auto;

    @include min-screen($mq-min-m) {
      max-width: 80%;
      
      p {
        line-height: 1.8;
      }
    }
  }
}

.sec__about {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 130px 25px;
    position: relative;
    width: 100%;

    @include min-screen($mq-min-m) {
      width: 50%;
    }

    @include max-screen($mq-m) {
      padding-top: 65px;
      padding-bottom: 70px; 
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &__text {
    flex: 1 0 auto;
  }

  &__title {
    font-size: $fs-28;
    font-weight: $fw-b;
    margin-bottom: 35px;

    span {
      display: inline-block;
      border-bottom: 1px solid $p-vin-red;
      padding-bottom: 8px;
    }

    @include max-screen($mq-m) {
      font-size: $fs-20;
      margin-bottom: 20px;

      span {
        padding-bottom: 25px;
        border-width: 2px;
      }
    }
  }

  &__desc {
    max-width: 480px;
    margin: 0 auto 65px;

    p {
      font-size: $fs-16;
      line-height: 1.85;
    }

    @include max-screen($mq-m) {
      margin-bottom: 50px;
    }
  }

  &__btns {
    margin-top: auto;

    a {
      width: 140px;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 20px;

        @include max-screen($mq-m) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.sec__pro {
  padding: 65px 25px;

  @include max-screen($mq-m) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__content {
    max-width: 630px;
    background: rgba(0, 0, 0, .8);
    margin: 0 auto;
    padding: 90px 0 100px;

    @include max-screen($mq-m) {
      padding: 60px 0 65px;
    }
  }

  &__title {
    margin-bottom: 20px;

    span {
      display: inline-block;
      padding-bottom: 20px;
      border-bottom: 2px solid $p-vin-red;

      @include max-screen($mq-m) {
        padding-bottom: 30px;
      }
    }
  }

  &__desc {
    max-width: 245px;
    margin: 0 auto;

    p {
      font-size: $fs-16;
      line-height: 1.85;
    }
  }

  &__btns {
    margin-top: 35px;

    a {
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.sec__highlights {
  padding: 90px 0;

  &__items {    
    display: flex;
    flex-wrap: wrap;

    @include min-screen($mq-min-m) {
      padding: 0 65px;
    }
  }

  &__item {
    width: 50%;
    text-align: center;

    @include min-screen($mq-min-m) {
      width: 25%;

      &:not(:first-child) {
        border-left: 1px solid $e-grey;
      }
    }

    @include max-screen($mq-m) {
      &:first-child {
        margin-bottom: 40px;
      }
    }

    img {
      margin: 0 auto;
      width: 94px;
      height: 94px;
    }

    a {
      display: inline-block;

      @include min-screen($mq-min-m) {
        &:hover {
          span {
            color: $p-vin-gold;
          }
        }
      }
    }

    span {
      display: block;
      margin-top: 32px;
      text-transform: uppercase;
      @include font-h3;
      @include trans;

      @include max-screen($mq-m) {
        margin-top: 20px;
      }
    }
  }

  @include max-screen($mq-m) {
    padding: 60px 0;
  }
}

.sec__upload {
  padding: 60px 0 52px 0;
  background: #262626;

  @include max-screen($mq-m) {
    padding: 70px 0 55px;
  }

  &__wrapper {
    padding: 0 50px;
    
    @include max-screen($mq-m) {
      padding: 0;
      margin: 0;
    }
  }
  
  &__actions {
    @include min-screen($mq-min-m) {      
      padding: 0 8px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    @include max-screen($mq-m) {
      padding: 0 10px;
    }
  }

  &__content {

    @include max-screen($mq-m) {
      padding: 50px 20px 20px;
      margin-bottom: 40px;
      margin: 0 -10px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    flex-grow: 1;
    padding: 50px 15px 0;    
    text-align: center;
  }  

  &__title {
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;

    span {
      padding-bottom: 25px;
    }
  }

  h4 {
    color: $e-grey;
    font-size: $fs-25;
    font-weight: $fw-b;
    margin-bottom: 25px;

    @include max-screen($mq-m) {
      font-size: $fs-20;
    }
  }

  &__blurb {
    color: $p-lgrey;
    text-align: center;

    @include min-screen($mq-min-m) {
      max-width: 30%;   
    }

    p {
      line-height: 1.85;      
    }

    a {
      display: inline-block;
      color: $e-white;
      
      @include min-screen($mq-min-m) {
        &:hover {
          color: $p-vin-gold;
        }
      }
    }
  }

  &__imgs {    
    padding: 16px 16px 0;

    @include max-screen($mq-m) {
      padding: 20px 10px 4px;

      .neg-margin {
        margin: 0;
      }
    }
  }

  .tintup {        
  }
}
