// for transition
@mixin trans {
  transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
}

// background image mixin
@mixin bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// text align center
@mixin ta-c {
  text-align: center;
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  position: absolute;
}

@mixin show-hidden {
  opacity: 1;
  visibility: visible;
  height: inherit;
  overflow: visible;
}

@mixin hidden-trans {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  @include trans;
}

@mixin show-hidden-trans {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

@mixin hidden--animate {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  position: absolute;
  transform: translateY(5px);
}

@mixin show-hidden--animate {
  opacity: 1;
  visibility: visible;
  height: inherit;
  overflow: visible;
  transform: translateY(0);
}


// Placeholder Mixin
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

// Media queries
// --- generator ---------------------------------------------------------------
@mixin mq($args...) {
  $media-type: "only screen";
  $media-type-key: "media-type";
  $args: keywords($args);
  $expr: "";
  @if map-has-key($args, $media-type-key) {
    $media-type: map-get($args, $media-type-key);
    $args: map-remove($args, $media-type-key);
  }
  @each $key, $value in $args {
    @if $value {
      $expr: "#{$expr} and (#{$key}: #{$value})";
    }
  }
  @media #{$media-type} #{$expr} {
    @content;
  }
}

// --- screen ------------------------------------------------------------------
@mixin screen($min, $max, $orientation: false) {
  @include mq($min-width: $min, $max-width: $max, $orientation: $orientation) {
    @content;
  }
}

@mixin max-screen($max) {
  @include mq($max-width: $max) {
    @content;
  }
}

@mixin min-screen($min) {
  @include mq($min-width: $min) {
    @content;
  }
}

@mixin screen-height($min, $max, $orientation: false) {
  @include mq($min-height: $min, $max-height: $max, $orientation: $orientation) {
    @content;
  }
}

@mixin max-screen-height($max) {
  @include mq($max-height: $max) {
    @content;
  }
}

@mixin min-screen-height($min) {
  @include mq($min-height: $min) {
    @content;
  }
}

// font family

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin adrianna-light {
  font-weight: $fw-l;
}

@mixin adrianna-reg {
  font-weight: $fw-r;
}

@mixin adrianna-demi {
  font-weight: $fw-db;
}

@mixin adrianna-bold {  
  font-weight: $fw-b;
}

@mixin font-h1 {
  font-weight: $fw-b;
  font-size: $fs-40;

  @include max-screen($mq-m) {
    font-size: $fs-28;
  }
}

@mixin font-h2 {
  font-weight: $fw-b;
  font-size: $fs-25;

  @include max-screen($mq-m) {
    font-size: $fs-20;
  }
}

@mixin font-h3 {
  font-weight: $fw-db;
  font-size: $fs-14;
}

@mixin font-h4 {
  font-weight: $fw-db;
  font-size: $fs-12;
}

@mixin font-tiny {
  font-size: $fs-11;
}
