/*
* 
* FONTS
*
*/

/*
  For font-weights please use mixins as:
  @include adrianna-light;        // for light
  @include adrianna-reg;          // for regular
  @include adrianna-demi;         // for demibold
  @include adrianna-bold:         // for bold
*/

@include font-face("adrianna", "../fonts/adrianna/343C8C_5_0", 300, normal, eot woff2 woff ttf);
@include font-face("adrianna", "../fonts/adrianna/343C8C_9_0", 400, normal, eot woff2 woff ttf);
@include font-face("adrianna", "../fonts/adrianna/343C8C_2_0", 600, normal, eot woff2 woff ttf);
@include font-face("adrianna", "../fonts/adrianna/343C8C_0_0", 700, normal, eot woff2 woff ttf);

// @include font-face("adrianna", "../fonts/Adrianna-Regular-webfont", 400, normal, eot woff2 woff ttf);
// @include font-face("adrianna", "../fonts/Adrianna-DemiBold-webfont", 600, normal, eot woff2 woff ttf);
// @include font-face("adrianna", "../fonts/Adrianna-Bold-webfont", 700, normal, eot woff2 woff ttf);

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}


h1 {
  @include font-h1;
}

// h2 {
//   @include font-h2;
// }

h3 {
  @include font-h3;
}

h4 {
  @include font-h4;
}

// Font Sizes Class
.font {
  &__big {
    @include font-h1;
  }

  &__medium {
    @include font-h2;
  }

  &__body {
    font-size: $fs-16;
  }

  &__body2 {
    @include font-h3;
  }

  &__small {
    @include font-h4;
  }

  &__tiny {
    @include font-tiny;
  }
}

// Font Weight Class
.reg {
  font-weight: $fw-r;
}

.demib {
  font-weight: $fw-db;
}

.bold,
strong {
  font-weight: $fw-b;
}

// Letter Spacing Class
.ls {
  letter-spacing: $ls;
}

// text Colors
.c-white {
  color: $e-white;
}

.c-black {
  color: $e-black;
}

.c-red {
  color: $e-red;
}

.c-gold {
  color: $p-vin-gold;
}

.c-egrey {
  color: $e-grey;
}

// text align
.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.vin__title {
  margin-bottom: 20px;
  font-size: $fs-40;
  font-weight: $fw-b;

  span {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid $p-vin-red;  
  }

  &--epad {
    span {
      padding-bottom: 25px;
    }
  }

  &--medium {
    font-size: $fs-24;    
    font-weight: $fw-b;
  }

  @include max-screen($mq-m) {
    font-size: $fs-25;

    span {
      padding-bottom: 15px;
    }
  }
}

.vin__subtitle {
  font-size: $fs-28;
  margin-bottom: 20px;
  font-weight: $fw-b;

  span {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid $p-vin-red;
  }
}
