/*
* COLORS
*
* Prefixes
* p- => primary
* s- => seconday
* t- => tertiary
* e- => extra
*/

$p-vin-red: #96172e;
$p-vin-gold: #d7ba8b;
$p-grey: #434244;
$p-lgrey: #e2e2e2;
$p-dgrey: #2d2d2d;
$p-lgold: #fafafa;

$e-white: #fff;
$e-black: #000;
$e-grey: #d5d1cb;
$e-lgrey: #bdbdbd;
$e-dgrey: #231f20;
$e-red: #ff0000;


/*
* TYPOGRAPHY
*
* Prefixes*
* fs- => font-size
* fw- => font-weight
* ls- => letter-spacing
* ff- => font-family
* lh- => line-height
*
*/

$fw-l: 300;
$fw-r: 400;
$fw-db: 600;
$fw-b: 700;

$ls: 0.1px;

$ff-ad: "adrianna", sans-serif;

$lh-1: 1;
$lh-3: 1.3;
$lh-35: 1.35;
$lh-4: 1.4;
$lh-45: 1.45;
$lh-5: 1.5;
$lh-55: 1.55;

$fs-11: 11px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-25: 25px;
$fs-28: 28px;
$fs-40: 40px;

/*
* MEDIA QUERIES
*
* Prefixes
*
* mq- => media query
* sm- => small mobile
* m- => mobile
* t- => tablet
* d- => desktop
*
*/

$mq-m: 800px;
$mq-min-m: 801px;
$mq-t: 1024px;
$mq-min-t: 1025px;
$mq-d: 1356px;
