body {
  font-family: $ff-ad;
  font-size: $fs-14;
  line-height: $lh-4;
  color: $e-white;
  overflow-x: hidden;
  font-weight: $fw-r;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

li {
  font-size: $fs-14;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

a {  
  font-family: $ff-ad;  

  @include min-screen($mq-m) {
    &:hover {
      text-decoration: none;
      cursor: pointer;      
    }
  }
}

a,
svg,
button * {
  text-decoration: none;
  display: block;
  color: $e-white;
  @include trans;
}

p {
  margin: 0;
  margin-bottom: 15px;
  line-height: $lh-5;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 15px;

  // @include screen(1250px, 1366px) {
  //   width: 1240px;
  // }

  @include min-screen (1366px) {
    width: 1340px;
    padding: 0 8px;

    &--sm {
      width: 66.6666667%;
    }
  }  
}

[class*="col-"] {
  padding: 0 8px;
}

.row {
  @include min-screen (1366px) {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.hidden {
  display: none;
}

.visibleHidden {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  @include trans;    
}

.showHidden {
  opacity: 1;
  visibility: visible;
}

.mobile {
  display: none;

  @include max-screen($mq-m) {
    display: block;
  }
}

@include max-screen($mq-m) {
  .desktop {      
    display: none;
  }
}

.clear::after {
  content: "";
  display: table;
  clear: both;
  flex-basis: 0;
  order: 1;
}

// Margins Class
.neg-margin {
  margin-left: -8px;
  margin-right: -8px;

  @include max-screen($mq-m) {
    margin: 0 -15px;
  }
}

.no-m {
  margin: 0;
}

.no-mb {
  margin-bottom: 0;
}

.no-ml {
  margin-left: 0;
}

.no-mr {
  margin-right: 0;
}
.no-mt {
  margin-top: 0;
}

.mt-auto {
  margin-top: auto;
}

.m-auto {
  margin: 0 auto;
}

// Padding Classes
.no-p {
  padding: 0;
}

.no-pl {
  padding-left: 0;
}

.no-pr {
  padding-right: 0;
}

.no-pb {
  padding-bottom: 0;
}

.no-pt {
  padding-top: 0;
}

@include min-screen($mq-min-m) {
  .p-35 {
    padding: 0 35px;
  }
}

.slick-slider {
  user-select: initial;
}

.visible-hidden {
  @include hidden;

  &--animate {
    @include hidden;
    transform: translateY(15px);
    @include trans;
  }
}

// Background Colors Classes
.bg-dgrey {
  background: $p-dgrey;
}

.bg-grey {
  background: $p-grey;
}

.bg-lgrey {
  background: $p-lgrey;
}

.bg-vin-gold {
  background: $p-vin-gold;
}

.bg-red {
  background: $p-vin-red;
}

.bg-lgold {
  background: $p-lgold;
}

.bg-black {
  background: $e-black;
}

.bg-white {
  background: $e-white;
}

.bg-edgrey {
  background: $e-dgrey;
}

.bg-img {
  @include bg-img;
}

.vin__overlay {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  @include hidden;
  @include trans;
  position: fixed;
  height: 100%;

  &.navOpened {
    @include show-hidden;
    height: 100%;
  }
}

.slick-slide {
  outline: 0;
}

@include min-screen($mq-min-m) {
  .one-third {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .two-third {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
